hosts = ["host0"]
macaddr = {
    bastion0 = "02:ea:8e:e2:1e:25"
}
pool = "pool-name"
cores = 1
sockets = 1
memory = 2048
disk = 30
target_node = "cloudname"
clone = "CentOS7-GenericCloud"
serial = true
vga = "serial0"
