project = "myCluster"
hosts = ["myCluster01", "myCluster02"]
# network = "10.66.3.0/24"
# vcpu = 1
# memory = 1024
# disk = 12000000000
# baseimage = "https://cloud-images.ubuntu.com/releases/xenial/release/ubuntu-16.04-server-cloudimg-amd64-disk1.img"