{% if ssh.include_config | default(false, true) %}
Include {{ ssh.include_config }}
{% endif %}

{% for host in qemu_config %}
Host {{ host.fqdn }}
    HostName {{ host.ip4 }}
{% if ssh.proxy_jump | default(false, true) %}
    ProxyJump {{ ssh.proxy_jump }}
{% endif %}
{% if ssh.identity_file | default(false, true) %}
    IdentityFile {{ ssh.identity_file }}
{% endif %}
{% if ssh.user | default(false, true) %}
    User {{ ssh.user }}
{% endif %}
{% endfor %}