{% if ssh_include_config | default(false, true) %}
Include {{ ssh_include_config }}
{% endif %}

{% for host in qemu_config %}
Host {{ host.fqdn }}
    HostName {{ host.ip4 }}
    User {{ ansible_user }}
{% if ssh_proxy_jump | default(false, true) %}
    ProxyJump {{ ssh_proxy_jump }}
{% endif %}
{% if ssh_identity_file | default(false, true) %}
    IdentityFile {{ ssh_identity_file }}
{% endif %}
{% endfor %}
